body{
    background: linear-gradient(90deg, #66BA9C 50%, transparent 50%);
}
.container .page-title{
    position: relative;
    font-size: 48px;
    top: 5rem;
    color: white;
    width: 25rem;
    word-wrap: break-word;
}
.container .title-right{
    position: relative;
    color: black;
    font-size: 30px;
    top: 6.5rem;
    left: 5rem;
    word-wrap: break-word;
}
.btn{
    position: relative;
    color: white;
    top: 9rem;
    left: 47rem;
    background-color: #66BA9C;
  
}
.zip-code{
    position: relative;
    top: 6rem;
    left: 44rem;
    width: 22%;

}
#carouselExampleIndicators{
    position: relative;
    top: 3rem;
    left: 4rem;
    width: 300px;
    
}
.sub-text{
    font-size: 20px;
    position: relative;
    top: 6rem;
    left: .5rem;
    color: #18503B;
    width: 35rem;
    word-wrap: break-word;
    font-weight: bold;
}
.sub-text2{
    font-size: 20px;
    position: relative;
    top: 8rem;
    left: .5rem;
    color: #18503B;
    width: 35rem;
    word-wrap: break-word;
    font-weight: bold;
}






